<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SvUsuarios</servlet-name>
        <servlet-class>com.yahupc.ejercicio2.SvUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvEliminar</servlet-name>
        <servlet-class>com.yahupc.ejercicio2.SvEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvEditar</servlet-name>
        <servlet-class>com.yahupc.ejercicio2.SvEditar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvUsuarios</servlet-name>
        <url-pattern>/SvUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvEliminar</servlet-name>
        <url-pattern>/SvEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvEditar</servlet-name>
        <url-pattern>/SvEditar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
